

body{
    line-height: 180%;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 400;
}

#admin_wrapper{
    position: sticky;
    margin: 0px auto;
    margin-top:240px;
    width: 420px;
    height: 260px;
    border: 3px solid #51a375;
}

#admin_panel{
    position: relative;
    border:3px solid #60a351;
    border-radius: 0%;
    width: 400px ;
    height: 240px;
    margin: 7px;
 
}   



#label{
    text-align: center;
    color: #7a7a7a;
    position: relative;
    margin-top: 10px;
    padding: 0px;
}
#item {
    border: 2px solid #e6eaeb;
    position: relative;
    font-size: 14px;
    text-align: left;
    width: 360px;
    height: 30px;
    margin-top: 20px;
    margin-left: 20px;
    padding-left: 5px;
   
}


#btn{
    color: #FFFFFF;
    background-color: #51a375;
    border: 0px solid #FFFFFF;
    border-radius: 5%  #51a375;
   outline: 2px solid ;
    width: 300px;
    height: 35px;
    position: relative;
    margin-top: 20px;
    left: 50px;

}

#btn:hover{
    background-color: #63c38d;
}

